body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* header style */
h1 {
  font-size: 50px;
  font-weight: bolder;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
.h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 5%;
}
nav > ul > li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  font-size: 20px;
}
.intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.half-width {
  margin-left: 10%;
  width: 50%;
}
.half-width img {
  height: 70%;
  width: 70%;
  margin-left: 20%;
}

.intro .half-width img:hover {
  transform: scale(1.2) rotate(15deg);
  transition: transform 1s ease-in-out;
  overflow: hidden;
}

.button {
  border: none;
  background-color: rgb(250, 7, 88);
  color: white;
  height: 30px;
  width: 120px;
  border-radius: 15px;
}
.partners {
  margin: 0 10%;
  margin-bottom: 30px;
}
.e-commerce-sites {
  align-items: center;
  padding: 5px 0;
}

.e-commerce-sites .sites {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* header style */

/* Products Listing */

.container {
  margin: 50px 10%;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 50px;
}
.product img {
  width: 100%;
  text-align: center;
}
.product {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px #888888;
}
.product p {
  color: rgb(66, 64, 64);
}

.new-line {
  display: block;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: gold;
}
.fa-star.empty {
  color: #aeaeae;
}
.text-button {
  float: right;
  text-decoration: none;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(248, 8, 48);
  margin-bottom: 50px;
}
.text-button .icon {
  color: rgb(248, 8, 48);
  font-size: 15px;
}
/* Products Listing */
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 50px;
}
.colored-text {
  color: rgb(248, 9, 89);
}

.bottom .half-width {
  margin: 0;
}
.bottom .half-width img {
  height: 40%;
  width: 100;
  margin: 0 8%;
}
.bottom .button {
  border-radius: 0;
}

/* Footer style */
footer {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #120e43;
}

.icon {
  color: white;
  margin: 5px;
}
/* Footer style */

/* media queries */

/* for smartphones */
@media (max-width: 688px) {
  nav {
    display: none;
  }
  .intro {
    flex-direction: column-reverse;
  }
  .half-width {
    width: auto;
    margin: auto;
    text-align: center;
  }
  hal .intro {
    margin-right: 20px;
  }
  .bottom {
    margin-left: auto;
  }

  hr {
    display: none;
  }

  .e-commerce-sites .sites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .bottom {
    flex-direction: column;
  }
}
/* for smartphones */

/* for tablates */
@media (min-width: 689px) and (max-width: 992px) {
  .intro {
    flex-direction: column-reverse;
    width: auto;
  }
  .bottom {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  hr {
    display: none;
  }
  nav {
    display: none;
  }

  .e-commerce-sites .sites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
/* for tablates */
/* media queries */
